<div class="center padded white-bg">
    <div class="content padded"> 
        <div class="padded">
            <h1>My proyects in Data analisis</h1>
        </div>
        <div class="row">
            <div class="card third">
                <img src="{{ url_for('static', filename='bellabeat.jpg') }}" width="250px"/>
                <h3>Bellabeat</h3>
                <p>Caso de estudio de una empresa dedicada a productos para el cuidado de la mujer</p>
                <a class="orange" href="https://github.com/david-macias-luevano95/Bellabeat-Case_Study">Link aqui</a>
            </div>
        
            <div class="card third">
                <img src="{{ url_for('static', filename='maching_learning.jpg') }}" width="250px"/>
                <h3>Maching Learning</h3>
                <p>Una aplicacion para gestionar mis clientes</p>
                <a class="orange" href="https://github.com/david-macias-luevano95/Maching-Learning">Link aqui</a>
            </div>
        
            <div class="card third">
                <img src="{{ url_for('static', filename='trading.jpg') }}" width="250px"/>
                <h3>Trading Proyects</h3>
                <p>Una aplicacion para gestionar mis tareas</p>
                <a class="orange" href="https://github.com/david-macias-luevano95/Trading-">Link aqui</a>
            </div>
        </div>
    </div>

</div> 