<div class="center padded">
    <div class="content padded"> 
        <div class="padded">
            <h1>My proyects in Web development </h1>
        </div>
        <div class="row">
            <div class="card third">
                <img src="{{ url_for('static', filename='bellabeat.jpg') }}" width="250px"/>
                <h3>Mailer APP</h3>
                <p>Una aplicacion que envia correos utilizando la API de Sendgrind</p>
                <a class="orange" href="#">Link aqui</a>
            </div>
        
            <div class="card third">
                <img src="{{ url_for('static', filename='kreatistorm.png') }}" width="250px"/>
                <h3>Kreatistorm</h3>
                <p>Training hands for programig in python</p>
                <a class="orange" href="https://github.com/david-macias-luevano95/Kreativstorm">Link aqui</a>
            </div>
        
            <div class="card third">
                <img src="{{ url_for('static', filename='bellabeat.jpg') }}" width="250px"/>
                <h3>Movies App</h3>
                <p>Gestor de peliculas creado usando Django</p>
                <a class="orange" href="{{ url_for('static', filename='db.exe')}}">Link aqui</a>
            </div>
        </div>
    </div>

</div> 