<div class="center">
    <div class="content">
        <div class="row">
            <div class="parraf vert-pad">
                <h1>I am Electronic Engineer transitioning to the tech world.</h1>
                <h2>Passionately developing projects and applications for individuals and businesses.
                    Currently, I am learning new technologies and developing projects for pleasure. 
                    I built this website from 
                    scratch using Python and Flask. 
                    I am eager to continue learning about the world of data.!</h2>       
            </div>
            
        </div>
    </div>
</div> 